.grid-container-blog{
    @include layout-noindex;
    background: url(../assets/background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 10px 0px 10px;   
    main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "title-page title-page title-page"
        "blog-section blog-section blog-section";
        justify-content: center;
        padding: 10px 30px 30px 30px;
        width: 100%;
        h1{
            @include title(2.5em);
        }
        section{
            height: auto;
            grid-area: blog-section;
            display: grid;
            grid-template-areas:
            "blog-card blog-card blog-card"
            "blog-card blog-card blog-card";
            flex-wrap: nowrap;
            gap: 20px;
            article{
                display: flex;
                flex-direction: column;
                justify-self: center;
                text-align: justify;
                align-items: center;
                background-color: $background-color;
                border-radius: 10px;
                width: 90%;
                height: 100%;
                gap: 20px;
                padding-bottom: 20px;
                img{
                    width: 90%;
                    padding-top: 20px;
                }
                p{
                    width: 90%;
                    padding-top: 10px;
                    font-size: 1.2em;
                    color: $font-color;
                    font-family: 'Lora', serif;
                }
                a{
                    @include shop-now-button(1.5vw,40%,5px);
                    &:hover{
                        transform:scale(1.05);
                    }
                }
            }
        }
    }
}