.grid-container-about{
    @include layout-noindex;
    @include background-no-image;
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "about-section about-photo";
        align-items: center;
        padding: 10px 30px 30px 30px;
        gap: 40px;
        section{
            grid-area: about-section;
            width: 100%;
            h1{
                @include title(2.4em);
            }
            p{
                display: flex;
                flex-wrap: wrap;
                text-align: justify;
                padding-top: 30px;
                font-size: 1.1em;
                font-family: fantasy;
                color: $font-color;
                font-family: 'Lora', serif
            }
        }
        div img{
            grid-area: about-photo;
            width: 100%;
        }
    }
}