@media (max-width: 320px){
    header{
        padding: 0px;
    }
    .logo-index a img{
        height: 70px;
    }
    .grid-container-index{
        background-position: -750px;
        backdrop-filter: blur(5px);
    }
    .home-title{
        font-family: 'Patua One', cursive;
        color: #38150B;
        justify-content: center;
    }
    .home-background{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .home-subtitle{
        padding-bottom: 20px;
    }
    .home-shop-now{
        background-color: #C6B4A5;
        display: flex;
        border-radius: 15px;
        color: #38150B;
    }
    .title-page{
        font-size: 40px;
    }
    .shop-section{
        grid-template-areas:
        "shop-card";
    }
    .shop-card img{
        width: 80%;
    }
    .shop-card p{
        width: 80%;
        padding-top: 10px;
        padding-bottom: 0px;
        font-size: 15px;
        font-family: 'Lora', serif;
    }
    .shop-button{
        font-size: 15px;
        padding: 6px;
    }
    .blog-section{
        grid-template-areas:
        "shop-card";
    }
    .blog-card{
        width: 90%;
        gap: 5px;
        padding: 0px;
        padding-bottom: 10px;
        padding-bottom: 25px;
    }
    .blog-card img{
        width: 80%;
        padding-top: 25px;
    }
    .blog-card p{
        width: 80%;
        font-size: 15px;
    }
    .blog-button{
        font-size: 15px;
    }
    .location-card{
        width: 80%;
        height: 288px;
        padding: 0px;
    }
    .maps{
        width: 90%;
        height: 90%;
    }
}