@media (max-width: 320px){
    .grid-container-home {
        main{
            h1{
                font-size: 70px;
                text-align: center;
            }
            article{
                padding-bottom: 20px;
                font-size: 30px;
                text-align: center;
            }
            a{
                font-size: 28px;
            }
        }
    }   
    .grid-container-shop{
        main{
            section{
                div{
                    img{
                        width: 80%;
                    }
                    p{
                        width: 80%;
                    }
                }
            }
        }
    }
    .grid-container-blog{
        main{
            align-items: center;
            section{
                width: 80%;
                justify-self: center;
                article{
                    width: 90%;
                    img{
                        width: 80%;
                    }
                    p{
                        width: 80%;
                    }
                    a{
                        width: 50%;
                    }
                }
            }
        }
    }
    .grid-container-locations{
        main{
            justify-items: center;
            section{
                width: 90%;
            }
            section{
                span{
                    width: 90%;
                }
            }
        }
    }    
}